<br/><br/>
<div class="page-header">
  <div class="container-fluid">
    <h3>
      Consulta de Grupo Contas
      <br/>
    </h3>


  </div>

  <div class="container-fluid" style="width:80%;">
  <button type="button" style="float:right;" class="btn btn-primary" routerLink="/cadgrupocontas">
    <i class="fa fa-plus" aria-hidden="true"></i>
    Novo</button>
  <br/><br/>

  <br/>
  <accordion [closeOthers]="oneAtATime">
    <accordion-group heading="Pesquisar" [isOpen]="isFirstOpen">
        <div class="row">
            <div class="form-group col-xs-4" >
                <label for="exampleInputNome2">Descrição</label>
                <input type="text" class="form-control" id="exampleInputNome2" placeholder="Nome"
                formControlName="nome">
              </div>
              <div class="form-group col-xs-4">
                <label ></label>
                <br/><br/>
                <button type="button" class="btn btn-success"  >
                    <i class="fa fa-search" aria-hidden="true" ></i>
                    Pesquisar</button>
        
              </div>
          </div>
    </accordion-group>

  
  </accordion>
  <br/><br/>
   <table class="table table-striped" >
      <thead>
          <tr>
              <th>Descrição</th>
            </tr>
      </thead>
      <tbody>

            <tr *ngFor="">

              <td>{{i.nome}}</td>
              <td>
                <button routerLink="/cadCliente" class="btn btn-success">
                  <i class="fa  fa-pencil"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>


  </div>
</div>

