<br /><br />
<div class="page-header">
  <div class="container-fluid">
    <h3>
      Consulta de Grupo Contas
      <br />
    </h3>


  </div>

  <form [formGroup]="formulario">
    <div class="container-fluid" style="width:100%;">
      <div class="w-100">
        <button type="button" style="float:right;" class="btn btn-primary font-weight-light" routerLink="/cadgrupocontas">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <a class="ml-2">Adicionar</a>
        </button>
      </div>
      <br><br>

      <div class="w-100">
        <accordion [closeOthers]="oneAtATime">
          <accordion-group heading="Pesquisar" [isOpen]="isFirstOpen">
            <div class="row">
              <div class="form-group col-md-4">
                <label for="conta">Conta</label>
                <input type="text" class="form-control" id="conta" placeholder="Conta" formControlName="conta">
              </div>
              <div class="form-group col-md-8">
                <label for="descricao">Descrição</label>
                <input type="text" class="form-control" id="descricao" placeholder="Descrição"
                  formControlName="descricao">
              </div>
              <div class="form-group col-md-12 text-right">
                <button type="button" class="btn btn-success" onclick="pesquisar()">
                  <i class="fa fa-search" aria-hidden="true"></i>
                  Pesquisar
                </button>
                <button type="submit" class="btn btn-success" style="margin-left:1%;" onclick="consultar()">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                  Limpar
                </button>
              </div>
            </div>
          </accordion-group>
        </accordion>
      </div>
      <br /><br />
      <table class="table table-striped">
        <thead>
          <tr
            class="pb-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
            <th class="col-lg-4 mb-1 text-muted text-small w-sm-100 hidden-lg hidden-md hidden-sm">Conta - Descrição
            </th>
            <th class="col-lg-4 mb-1 text-muted text-small w-sm-100 hidden-lg hidden-md hidden-xs">Conta - Descrição
            </th>
            <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Conta</th>
            <th class="col-lg-6 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Descrição</th>
            <th class="col-lg-1 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let grupo of grupoContas"
            class="pb-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
            <td class="col-lg-2 col-xs mb-1 text-muted text-small w-sm-100">{{grupo.conta}}</td>
            <td class="col-lg-6 col-xs mb-1 text-muted text-small w-sm-100">{{grupo.descricao}}</td>
            <td class="col-lg-1 col-xs mb-1 text-muted text-small w-sm-100">
              <button (click)="editar( i )" class="btn btn-success hidden-xs hidden-sm"
                style="margin-top: -9px;float: right">
                <i class="fa  fa-pencil"></i>
              </button>
              <button (click)="editar( grupo )" class="btn btn-success hidden-lg hidden-md" style="float: right">
                <i class="fa  fa-pencil"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>


    </div>
  </form>
</div>