<br/><br/>
<div class="page-header">
    <div class="container-fluid">
        <h3>
            Fluxo de Caixa
        </h3>
        <hr/>
    </div>
    <form [formGroup]="formulario">
        <div class="container-fluid" style="width:100%;">

            <br><br>
            <div class="w-100">
                <accordion [closeOthers]="oneAtATime">
                    <accordion-group heading="Pesquisar" [isOpen]="isFirstOpen">
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="datavencimentoinicial">Data inicial</label>
                                <input type="date" class="form-control" id="datavencimentoinicial"
                                       placeholder="Data vencimento"
                                       formControlName="datainicial">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="datavencimentofinal">Data final</label>
                                <input type="date" class="form-control" id="datavencimentofinal"
                                       placeholder="Data vencimento"
                                       formControlName="datafinal">
                            </div>

                            <div class="form-group col-md-12 text-right">
                                <button type="button" class="btn btn-primary" (click)="pesquisar()">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    Pesquisar
                                </button>
                                <button type="submit" class="btn btn-danger" style="margin-left:1%;"
                                        (click)="consultar()">
                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                    Limpar
                                </button>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <h4 style="text-align: center;">Fluxo de Caixa</h4>
                    <div class="table-responsive-lg">
                        <table class="table table-striped">
                            <thead>
                            <tr
                                    class="pb-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center row">
                                <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Data</th>
                                <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Entradas
                                    Previstas
                                </th>
                                <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Entradas
                                    Realizadas
                                </th>
                                <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Saidas
                                    Previstas
                                </th>
                                <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Saidas
                                    Realizadas
                                </th>
                                <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Saldo Atual
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let fluxo of fluxoCaixa"
                                class="pb-0 pt-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                                <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0"
                                    style="border: none;"><a (click)="selectFluxoCaixa(fluxo)">
                                    {{fluxo.data | date: 'dd/MM/yyyy' }}</a></td>
                                <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0"
                                    style="border: none;">
                                    {{fluxo.entradasprevistas  | currency: 'BRL' :true }}</td>
                                <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                                    style="border: none;">{{ fluxo.entradas | currency: 'BRL' :true }}</td>
                                <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                                    style="border: none;">{{ fluxo.saidasprevistas | currency: 'BRL' :true }}</td>
                                <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                                    style="border: none;">{{ fluxo.saidas | currency: 'BRL' :true }}</td>
                                <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 hidden-xs p-0"
                                    style="border: none;">{{ fluxo.saldoatual | currency: 'BRL' :true }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <h4 style="text-align: center;">Lançamentos</h4>
                    <div class="table-responsive-lg">
                        <table class="table table-striped">
                            <thead>
                            <tr class="pb-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center row">
                                <th class="col-lg-4 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Data</th>
                                <th class="col-lg-4 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Forma Pagto</th>
                                <th class="col-lg-4 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Valor</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let fluxo of fluxoCaixaSelecionado.fluxolancamentoList"
                                class="pb-0 pt-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                                <td class="col-lg-4 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0"
                                    style="border: none;">
                                    {{fluxo.data | date: 'dd/MM/yyyy' }}</td>
                                <td class="col-lg-4 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0"
                                    style="border: none;">
                                    {{fluxo.formapagamento.descricao }}</td>
                                <td class="col-lg-4 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0"
                                    style="border: none;">
                                    {{fluxo.valorentrada  | currency: 'BRL' :true }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12">
                    <h4 style="text-align: center;">Contas</h4>
                    <div class="table-responsive-lg">
                        <table class="table table-striped">
                            <thead>
                            <tr class="pb-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center row">
                                <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">No. Doc</th>
                                <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Vencimento</th>
                                <th class="col-lg-4 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Valor</th>
                                <th class="col-lg-2 mb-1 text-muted text-small w-sm-100 hidden-xs hidden-sm">Paga/Recebida</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let fluxo of fluxoCaixaSelecionado.fluxocontasList"
                                class="pb-0 pt-0 card-body align-self-center d-flex flex-column flex-lg-row justify-content-between min-width-zero align-items-lg-center">
                                <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0"
                                    style="border: none;">
                                    {{fluxo.contas.documento }}</td>
                                <td class="col-lg-4 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0"
                                    style="border: none;">
                                    {{fluxo.contas.datavencimento | date: 'dd/MM/yyyy' }}</td>
                                <td class="col-lg-4 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0"
                                    style="border: none;">
                                    {{fluxo.contas.valorparcela  | currency: 'BRL' :true }}</td>
                                <td class="col-lg-2 col-xs mb-1 mt-1 text-muted text-small w-sm-100 p-0"
                                    style="border: none;">
                                    {{fluxo.contas.id }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

