<br/><br/>
<h2 style="margin-left:10%;">Movimento de Bens</h2>
<br/>

<div style="margin-left:10%;width:80%;">

    <form [formGroup]="formulario">
          <div class="row">
            <div class="form-group col-md-11 col-sm-11" >
              <label for="nomeCliente">Cliente</label>
              <input type="text" class="form-control" id="nomecliente" placeholder="Nome do Cliente"
              [value]="instituicaoSelecionada.nome" readonly="false">
            </div>
                <div class="form-group col-md-1 col-sm-1" >
                  <br/>
                  <button type="button" class="btn btn-info"  (click)="consultaCliente()" style="margin-top: 10%" >
                      <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </div>
              
              <div class="form-group col-md-12 col-sm-12" >
                  <label for="descricao">Descrição</label>
                  <input type="text" class="form-control" id="descricao" placeholder="Descrição"
                  formControlName="descricao" (readonly)='true' >
                </div>
              <div class="form-group col-md-4 col-sm-12" >
                  <label for="dataentrada">Data Entrada</label>
                  <input type="date" class="form-control" id="dataentrada" placeholder="data de Entrada"
                  formControlName="dataentrada" >
                </div>

                <div class="form-group col-md-4 col-sm-12" >
                    <label for="valorentrada">Valor Entrada</label>
                    <input type="text" style="text-align:right" class="form-control" id="valorentrada" placeholder="Valor de Entrada"
                    formControlName="valorentrada" (blur)="calcularValores()" >
                </div>

                  <div class="form-group col-md-4 col-sm-12" >
                      <label for="datasaida">Data Saída</label>
                      <input type="date" class="form-control" id="datasaida" placeholder="data de Saída"
                      formControlName="datasaida" >
                    </div>

                    <div class="form-group col-md-12 col-sm-12" >
                        <label >Plano de Contas</label>
                        <select class="form-control" formControlName="planoconta"  [compareWith]="compararPalnoConta" (change)="setPlanoConta()" >
                          <option *ngFor="let conta of listaPlanoContas" [ngValue]="conta"> {{ conta.descricao }}</option >
                       </select >
                      </div>
    
                    <div class="form-group col-md-4 col-sm-12" >
                        <label for="valorsaida">Valor Saída</label>
                        <input type="text" style="text-align:right" class="form-control" id="valorsaida" placeholder="Valor de Saída"
                        formControlName="valorsaida"  (blur)="calcularValores()">
                    </div>
                    <div class="form-group col-md-4 col-sm-12" >
                        <label for="diferenca">Diferença</label>
                        <input type="text" style="text-align:right" class="form-control" id="diferenca" placeholder="Diferença de valores"
                        formControlName="diferenca" readonly >
                    </div>
                    <div class="form-group col-md-4 col-sm-12" >
                        <label for="percentual">Percentual</label>
                        <input type="text" style="text-align:right" class="form-control" id="percentual" placeholder="Percentual"
                        formControlName="percentual"  readonly>
                    </div>

                 
            </div>

           
      <br/>
      <hr/>

    <div style="margin-left:40%;">
        <button type="button" class="btn btn-primary"  (click)="salvar()" >
            <i class="fa fa-floppy-o" aria-hidden="true" ></i>
            Salvar</button>
            <button type="submit" class="btn btn-danger" style="margin-left:1%;" (click)="cancelar()"  >
                <i class="fa fa-times" aria-hidden="true"></i>
                Cancelar</button>

      </div>
    </form>
</div>
