<div style="display: block">
<!--    <canvas mdbChart-->
<!--            [chartType]="chartType"-->
<!--            [datasets]="chartDatasets"-->
<!--            [labels]="chartLabels"-->
<!--            [colors]="chartColors"-->
<!--            [options]="chartOptions"-->
<!--            [legend]="true"-->
<!--            (chartHover)="chartHovered($event)"-->
<!--            (chartClick)="chartClicked($event)">-->
<!--&lt;!&ndash;            routerLink="/consFornecedores">&ndash;&gt;-->
<!--    </canvas>-->

    <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)"></p-chart>
</div>
