<br/><br/>
<h2 style="margin-left:10%;">Cadastro de Cliente</h2>
<br/>

<div style="margin-left:10%;width:80%;">
  <div class="panel panel-primary">
      <div class="panel-body">
        <b>Dados Principais</b>
      </div>
      <div class="panel-footer">
            <div class="row">
                <div class="form-group col-xs-4" >
                    <label for="exampleInputNome2">Nome</label>
                    <input type="text" class="form-control" id="exampleInputNome2" placeholder="Nome">
                  </div>
                  <div class="form-group col-xs-4" >
                      <label for="exampleInputTipoJuridico">Tipo Juridico</label>
                      <select class="form-control">
                          <option value="PF">Pessoa Fisica</option>
                          <option value="PJ">Pessoa Juridica</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-4" >
                        <label for="exampleInputSexo">Sexo</label>
                        <select class="form-control">
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                          </select>
                      </div>
                  <div class="form-group col-xs-4">
                    <label for="exampleInputEmail2">Email</label>
                    <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Email">
                  </div>
                  <div class="form-group col-xs-4">
                      <label for="exampleInputTelefoneFixo">Telefone Fixo</label>
                      <input type="email" class="form-control" id="exampleInputTelefoneFixo" placeholder="(00)0000-0000">
                    </div>
                    <div class="form-group col-xs-4">
                      <label for="exampleInputTelefoneCelular">Telefone Celular</label>
                      <input type="text" class="form-control" id="exampleInputTelefoneCelular" placeholder="(00)00000-0000">
                    </div>

                    <div class="form-group col-xs-6">
                        <label for="exampleInputCPFCNPJ">CPF/CNPJ</label>
                        <input type="text" class="form-control" id="exampleInputCPFCNPJ" placeholder="000.000.000-00">
                      </div>
                      <div class="form-group col-xs-6">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
              </div>
         
            
          
          
          <br/>
      </div>
      <div class="panel panel-default">
          <div class="panel-body">
            <b>Dados Complementares</b>
          </div>
          <div class="panel-footer">


          </div>
        </div>


        <button type="button" class="btn btn-primary">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            Salvar</button>
            <button type="submit" class="btn btn-danger" style="margin-left:1%;">
                <i class="fa fa-times" aria-hidden="true"></i>
                Cancelar</button>
  </div>
  
</div>