<br/><br/>
<h2 style="margin-left:2%;">Cadastro de Cliente</h2>
<br/>
<h4 style="margin-left:10%;">Dados Principais</h4>
<hr style="margin-left:10%;width:80%;"/>

<div style="margin-left:10%;width:80%;">
<div class="panel panel-primary">
    <div class="panel-body">
      Dados Principais
    </div>
    <div class="panel-footer">
          <div class="row">
              <div class="form-group col-xs-6" >
                  <label for="exampleInputNome2">Nome</label>
                  <input type="text" class="form-control" id="exampleInputNome2" placeholder="Nome">
                </div>
                <div class="form-group col-xs-6">
                  <label for="exampleInputEmail2">Email</label>
                  <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Email">
                </div>
                <div class="form-group col-xs-6">
                    <label for="exampleInputTelefoneFixo">Telefone Fixo</label>
                    <input type="email" class="form-control" id="exampleInputTelefoneFixo" placeholder="(00)0000-0000">
                  </div>
                  <div class="form-group col-xs-6">
                    <label for="exampleInputTelefoneCelular">Telefone Celular</label>
                    <input type="text" class="form-control" id="exampleInputTelefoneCelular" placeholder="(00)00000-0000">
                  </div>
            </div>
        <div class="form-group">
            <label for="exampleInputCPFCNPJ">CPF/CNPJ</label>
            <input type="text" class="form-control" id="exampleInputCPFCNPJ" placeholder="000.000.000-00">
          </div>
          <div class="form-group col-xs-6">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          
        <button type="submit" class="btn btn-default">Submit</button>
        <br/>
    </div>
  </div>
</div>