<br/><br/>
<div class="page-header">
  <div class="container-fluid">
    <h3>
      Cadastros > Cliente
      <br/>
    </h3>


  </div>

  <div class="container-fluid" style="width:80%;">
  <button type="button" style="float:right;" class="btn btn-primary" routerLink="/cadCliente">
    <i class="fa fa-plus" aria-hidden="true"></i>
    Novo</button>
  <br/><br/>
   <table class="table table-striped" >
      <thead>
          <tr>
              <th>Nome</th>
              <th>CPF</th>
              <th>Email</th>
              <th>Telefone</th>
            </tr>
      </thead>
      <tbody>

            <tr *ngFor="let i of instituicao">

              <td>{{i.nome}}</td>
              <td>{{i.cpfcnpj}}</td>
              <td>{{ i.email }}</td>
              <td>{{ i.fonecelular }}</td>
              <td>
                <button routerLink="/cadCliente">
                  <i class="fa  fa-pencil"></i>
                </button>
                <button style="margin-left:5%;">
                  <i class="fa  fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>


  </div>
</div>

