<div class="page-header">
  <div class="container-fluid">
    <h3>
      Consulta de Cliente
      <br/>
    </h3>

    
  </div>

  <div class="container-fluid">
  <button type="button" style="float:right;" class="btn btn-primary">Novo</button>
  <br/><br/>
   <table class="table table-striped">
      <tbody>
            <tr>
              <th>Nome</th>
              <th>Segundo Nome</th>
            </tr>
            <tr>
              
              <td>Anderson </td>
              <td>Luiz</td>
            </tr>

            <tr>
              
                <td>Rodolfo </td>
                <td>Abrantes</td>
              </tr>
          </tbody>
        </table>

       
  </div>
</div>