<div>
    <h3>Inicial</h3>
    
    <div class="row-dashboard" *ngIf="view">
        <app-timeline class="col-12"
            [listChart]="listaFluxoCaixa"
            [listDates]="listaDate"></app-timeline>
    </div>
    <div >
        <button type="submit" class="btn btn-color col-xl-1 col-lg-2  col-md-3  col-sm-4" style="margin-left:1%;" (click)="consultarFluxoCaixa('v')">
            Voltar
        </button>
        <button type="submit" class="btn btn-color col-xl-1 col-lg-2  col-md-3  col-sm-4" style="margin-left:1%;" (click)="consultarFluxoCaixa('a')">
            Avançar
        </button>
    </div>
</div>
