<br/><br/>
<h2 style="margin-left:10%;">Cadastro Grupo de Contas</h2>
<br/>

<div style="margin-left:10%;width:80%;">

    <form [formGroup]="formulario">
          <div class="row">
              <div class="form-group col-xs-4" >
                  <label for="exampleInputNome2">Descrição</label>
                  <input type="text" class="form-control" id="exampleInputNome2" placeholder="Descrição"
                  formControlName="nome">
                </div>
            
                <div class="form-group col-xs-4" >
                    <label for="exampleInputNome2">Tempo Médio</label>
                    <input type="text" class="form-control" id="exampleInputNome2" placeholder="Tempo Médio"
                    formControlName="nome">
                  </div>
            </div>
           
      <br/>
      <hr/>

    <div style="margin-left:40%;">
        <button type="button" class="btn btn-primary" >
            <i class="fa fa-floppy-o" aria-hidden="true" ></i>
            Salvar</button>
            <button type="submit" class="btn btn-danger" style="margin-left:1%;" >
                <i class="fa fa-times" aria-hidden="true"></i>
                Cancelar</button>

      </div>
    </form>
</div>
